<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-MfvZlkHCEqatNoGiOXveE8FIwMzZg4W85qfrfIFBfYc= sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
<!-- // -->
<footer class="footer-distributed" style="max-height: 250px;">

  <div class="footer-left">

    <h3>Portal News</h3>

    <p class="footer-links">
      <a href="#">Home</a>
      ·
      <a href="#">Notícias</a>
      ·
      <a href="#">Contato</a>
      ·
      <a href="#">Sobre</a>
    </p>

    <p class="footer-company-name">Portal News &copy; 2017</p>
  </div>

  <div class="footer-center">

    <div>
      <i class="fa fa-map-marker"></i>
      <p><span>Rua Mar de Sufe, 04</span> Manaus, AM</p>
    </div>

    <div>
      <i class="fa fa-phone"></i>
      <p>+55 92 99371-3614</p>
    </div>

    <div>
      <i class="fa fa-envelope"></i>
      <p><a href="mailto:support@company.com">caio.dscamara@gmail.com</a></p>
    </div>

  </div>

  <div class="footer-right">

    <p class="footer-company-about">
      <span>Sobre Portal News</span>
      Este é um portal colaborativo de notícias, onde estas podem ser postadas e compartilhadas.
    </p>

    <div class="footer-icons">

      <a><i id="social-fb" style="color: #EEEEEE;" class="fa fa-facebook-square fa-3x social"></i></a>
      <a><i id="social-tw" style="color: #EEEEEE;" class="fa fa-twitter-square fa-3x social"></i></a>
      <a><i id="social-gp" style="color: #EEEEEE;" class="fa fa-google-plus-square fa-3x social"></i></a>
      <a><i id="social-em" style="color: #EEEEEE;" class="fa fa-envelope-square fa-3x social"></i></a>

    </div>

  </div>

</footer>




