<h2 style="margin-left: 100px; margin-top: 40px; margin-bottom: 20px;">Todas as notícias: </h2>
  <nav style="margin-left: 100px;" aria-label="Page navigation">
    <ul class="pagination">
      <li *ngIf="(noticias[0])?.$key != (noticias3[0])?.$key" style="cursor: pointer">
        <a (click)="previous()" aria-label="Previous">
          <span style="margin-right: 5px;" aria-hidden="true">&laquo;</span>Anterior
        </a>
      </li>
      <li *ngIf="noticias[4]?.$key != noticias4?.$key" style="cursor: pointer" (click)="next()">
        <a aria-label="Next">Próxima
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
  <ul style="margin-left: 150px;" class="list-group">
    <tr *ngFor="let noticia of noticias" (click)="navigateToNoticia(noticia)" style="cursor: pointer;">
      <section>
        <div style="width: 800px; height: 130px; margin-bottom: 10px;">
          <div style="max-height: 100px; max-width: 150px; margin-right: 15px;" class="col-md-4">
            <img style="min-height:100px; min-width:150px; max-height: 80px; max-width: 120px; margin-top: 10px; margin-left: 8px; margin-bottom: 10px; margin-right: 25px; horiz-align: center" src="{{noticia.imagem}}" class="w-100">
          </div>
          <div class="col-md-8 px-3">
            <div class="card-block px-3">
              <h4 class="card-title">{{noticia.title}}</h4>
              <p class="card-text" style="font-size: 50%;">Posted by: {{noticia.autor}}</p>
              <h5 class="card-text" style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden;">{{noticia.description}}</h5>
            </div>
          </div>
        </div>
      </section>
    </tr>
  </ul>
